.sign-in{
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .title{
    margin: 10px 0px;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .isGoogleSignIn {
      padding: 0;
      border: 0;
    }
  }
}

