// h1{
//   font-family: 'lato';
// }

.home {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  margin-top: 5vh;
  // background: url('../../assets/img/3709793.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .home-heading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // flex: 1;
  }

  .home-img {
    display: flex;
    justify-content: center;

    img {
      width: 44vw;
    }
  }
}