

.home {
  display: flex;
  flex-direction: row;
  align-items: center;

  .home-heading {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-family: 'Amatic SC', serif;
    font-size: xx-large;
  }

  .home-img {
    flex: 1;

    img {
      width: 44vw;
    }
  }
}