.about-us{
  text-align: center;
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
    
}
// .inspiration-image{
//   border-radius: 50%;
//   height: 280px;
//   border: 5px solid black;
// }