.about-us{
  text-align: center;
  margin-top: 2.5vh;
  height: 100vh;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;

  img {
    width: 44vw;
  }

  .about-us-text {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-right: 5vw;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Architects Daughter', cursive;
    }
  }
    
}
// .inspiration-image{
//   border-radius: 50%;
//   height: 280px;
//   border: 5px solid black;
// }