.footer-container {
  .footer-start {
    background-color: #3d444b;
  }
  
  .footer-end {
    background-color: #343a40;
  }
  
  .text-1 {
    color: #fff;
  }
  
  .text-2 {
    color: #CCCECF;
  }
  
  a {
    color: #e6e6e6 ;
  }
  
  a:hover {
    color: #9b9999;
  }
  .footer-icons {
    color: #e6e6e6;
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .footer-container {
    margin-top: 15vh;
  }
}

@media (max-width: 375px) {
  .footer-container {
    margin-top: 25vh;
  }
}

@media (max-width: 320px) {
  .footer-container {
    margin-top: 40vh;
  }
}