.footer-start {
  background-color: #3d444b;
}

.footer-end {
  background-color: #343a40;
}

.text-1 {
  color: #fff;
}

.text-2 {
  color: #CCCECF;
}

a {
  color: #e6e6e6 ;
}

a:hover {
  color: #9b9999;
}