.event-card {
  margin-bottom: 5vh;
  
  .event-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .artist-name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .event-btn {
    display: flex;
    
  }
}