.event-card {
  margin-bottom: 2vh;
  
  .event-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .artist-name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .artist-image {    
    width: 15vw;
    margin-left: 5vw;
  }

  .event-btn {
    display: flex;
  }
}